<% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger w-50">
      The form contains <%= pluralize(@post.errors.count, "error") %>
    </div>
    <ul>
      <% @post.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><h2>New post</h2></div>
  <div class="panel-body">



    <%= form_with url: "/posts/new", method: :get do |f| %>

      <div class="form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :body %><br />
        <%= f.text_field :body, class:"form-control" %>
      </div>


      <div class="actions">
        <%= f.submit "Publish post", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer"><%= link_to 'All Posts', posts_index_path  %></div>
</div>
